[Desktop Entry]
Version=1.0
Name=Swyft Core
Comment=Connect to the Swyft P2P Network
Comment[de]=Verbinde mit dem Swyft peer-to-peer Netzwerk
Comment[fr]=Swyft, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Swyft, eşten eşe kriptografik sanal para birimi
Exec=swyft-qt %u
Terminal=false
Type=Application
Icon=swyft128
MimeType=x-scheme-handler/swyft;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Swyft-Qt
