policy_module(swyft, 1.100.1)

########################################
#
# Declarations
#

type swyft_t;
type swyft_exec_t;
init_daemon_domain(swyft_t, swyft_exec_t)

permissive swyft_t;

type swyft_initrc_exec_t;
init_script_file(swyft_initrc_exec_t)

type swyft_conf_t;
files_type(swyft_conf_t)

type swyft_var_lib_t;
files_type(swyft_var_lib_t)

type swyft_var_run_t;
files_type(swyft_var_run_t)

type swyft_port_t;
corenet_port(swyft_port_t)

########################################
#
# swyft local policy
#
allow swyft_t self:process { fork };

allow swyft_t self:fifo_file rw_fifo_file_perms;
allow swyft_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(swyft_t, swyft_conf_t, swyft_conf_t)
manage_files_pattern(swyft_t, swyft_conf_t, swyft_conf_t)

manage_dirs_pattern(swyft_t, swyft_var_lib_t, swyft_var_lib_t)
manage_files_pattern(swyft_t, swyft_var_lib_t, swyft_var_lib_t)
files_var_lib_filetrans(swyft_t, swyft_var_lib_t, { dir file })

manage_dirs_pattern(swyft_t, swyft_var_run_t, swyft_var_run_t)
manage_files_pattern(swyft_t, swyft_var_run_t, swyft_var_run_t)

sysnet_dns_name_resolve(swyft_t)
corenet_all_recvfrom_unlabeled(swyft_t)

allow swyft_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(swyft_t)
corenet_tcp_sendrecv_generic_node(swyft_t)
corenet_tcp_sendrecv_all_ports(swyft_t)
corenet_tcp_bind_generic_node(swyft_t)

gen_require(`
    type swyft_port_t;
')
allow swyft_t swyft_port_t:tcp_socket name_bind;

gen_require(`
    type swyft_port_t;
')
allow swyft_t swyft_port_t:tcp_socket name_connect;

domain_use_interactive_fds(swyft_t)

files_read_etc_files(swyft_t)

miscfiles_read_localization(swyft_t)

sysnet_dns_name_resolve(swyft_t)

allow swyft_t swyft_exec_t:file execute_no_trans;
allow swyft_t self:process setsched;
corecmd_exec_ls(swyft_t)
corenet_tcp_connect_http_port(swyft_t)
dev_read_urand(swyft_t)
fs_getattr_xattr_fs(swyft_t)
kernel_read_system_state(swyft_t)
